<!DOCTYPE html>
<html>
<head>
  <title>KatGarrett</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'gmaps4rails' %>
  <%= yield :scripts %>
</head>
<body>

	<div id="banner"> 
		<%= image_tag("top_left.png") %>
		<%= @page_title || "Kat & Garrett Are Getting Married" %>
	</div>

	<div id="columns">
		<div id="side">
			<ul>
				<li><%= button_to "details", details_path, {remote: true, class: "button-link"} %></li>
				<li><%= button_to "rsvp", rsvp_path, {remote: true, class: "button-link"} %></li>
				<li><%= button_to "pictures", pictures_path, {remote: true, class: "button-link"} %></li>
				<li><%= button_to "map", map_path, {remote: true, class: "button-link"} %></li>
			</ul>
		</div>

		<div id="main">
			<%= yield %>
		</div>
	</div>
</body>
</html>


<footer>
	<%= yield :scripts %>
</footer>
